@import url("fonts.css");
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-block: 147px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: black;

}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;

}

.page-header_container {
    box-sizing:border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1414px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.page-header_logo {
    flex-shrink: 0;
    width: 202px;
    height: 147px;
    text-decoration: none;
    font-size: 0;
}

.page-header_logo-icon {
    width: 100%;
    height: 100%;
}

.page-header_nav {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.page-header_nav-link {
    margin: 0 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: black;
    transition: color 0.2s;
}

.page-header_nav-link:hover {
    color: red;
}

.page-header_nav-link::after {
        color: red;
}

.main {
        flex: 1 0 auto;
}

.page-footer {
    flex: 0 0 auto;

}

.btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px 40px;
    border: 1px solid black;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: black;
    transition: color 0.2s, background-color 0.2s;
}

.btn:hover,
.btn:active {
    color: white;
    background-color: black;
}

.page-header_right-block {
    display: flex;
    justify-content: flex-end;
    width: 202px;

}

.events {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1414px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.listing_events-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}

.events-card {
    display: flex;
    width: 100%;
    margin: 0 30px 120px;
    max-width: 405px;
    min-width: 200px;
    width: calc(33.333% - 60px);
}

.events-card_link {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}

.events-card_picture {
    display:block;
    margin-bottom: 25px;
    position: relative;
}

.events-card_picture::before {
    position: absolute;
    display: block;
    padding-top: 107.16%;
    width: 100%;
}

.events-card_img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events-card_title {

}
